<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.multi.personalfridge.recipe.RecipeMapper">
	
	<select id="getAllrecipe" resultType="Recipe">
		SELECT * FROM recipe
	</select>
	
	<insert id="insertRecipe"
		parameterType="Recipe">
		INSERT INTO recipe (recipe_name, recipe_content, ingredient, recipe_category, recipe_img,nutrition_facts
		)
		VALUES (#{recipe_name}, #{recipe_content}, #{ingredient},
		#{recipe_category},#{recipe_img},#{nutrition_facts}
		)
	</insert>
	
	<select id="getReturnInsertRecipe" resultType="Recipe">
		SELECT * FROM recipe
		WHERE recipe_name = #{recipe_name}
	</select>
</mapper>