<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.multi.personalfridge.recipe.RecipeProductMapper">

		<insert id="PlustRecipeProducts" parameterType="RecipeProduct">
		    INSERT INTO recipe_product (recipe_id, product_id, product_quantity)
		    VALUES (#{recipe_id}, #{product_id}, #{product_quantity})
		</insert>
		

		<select id="getRecipeProductListByRecipeId" parameterType="int" resultType="RecipeAndProduct">
			SELECT rp.recipe_product_id, rp.recipe_id, rp.product_id, rp.product_quantity, p.product_name, p.product_img, p.product_price, p.special_product
		    FROM recipe_product rp
		    JOIN product p ON rp.product_id = p.product_id
		    WHERE rp.recipe_id = #{recipe_id}
		</select>
		
		<select id="getRecipeIdByProductId" parameterType="int" resultType="int">
			SELECT DISTINCT recipe_id
			FROM recipe_product
			WHERE product_id = #{product_id};
		</select>
		
		<delete id="deleteRecipeProductsByRecipeId" parameterType="int">
	    	delete
	    	from recipe_product 
	    	where recipe_id = #{recipe_id}
	    </delete>
</mapper>