<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.multi.personalfridge.refrigerator.RefrigeratorMapper">
	<select id="getRefrigeratorId" parameterType="String" resultType="_int">
		select refrigerator_id
		from refrigerator
		where user_id = #{user_id}
	</select>
	
	<select id="getRefrigeratorProduct" parameterType="_int" resultType="RefrigeratorProdcut">
		select *
		from refrigerator_product
		where refrigerator_id = #{refrigerator_id}
		order by limit_date		
	</select>
	
	<select id="getRefrigeratorProductForEach" resultType="RefrigeratorProdcut">
		select *
		from refrigerator_product
		where refrigerator_id = #{refrigeratorId}
		order by limit_date		
		limit 10
		offset #{page}
	</select>
	
	<select id="getRefrigeratorProductByRefrigeratorProductId" parameterType="_int"  resultType="RefrigeratorProdcut">
		select *
		from refrigerator_product
		where refrigerator_product_id = #{refrigeratorProductId}
	</select>
	
	<insert id="insertRefrigeratorProdcut" parameterType="RefrigeratorProdcut">
		insert into refrigerator_product(product_name, product_quantity, refrigerator_id, append_date, limit_date)
		values (#{product_name}, #{product_quantity}, #{refrigerator_id}, now(), #{limit_date})
	</insert>
	
	<insert id="insertRefrigerator" parameterType="String">
		insert into refrigerator(user_id)
		values (#{user_id})
	</insert>
	
	<delete id="deleteRefrigeratorProduct" parameterType="_int">
		delete from refrigerator_product
		where refrigerator_product_id = #{refrigerator_product_id}
	</delete>
	
	<update id="updateRefrigeratorProduct" parameterType="RefrigeratorProdcut">
		update refrigerator_product
		set product_name = #{product_name}, product_quantity = #{product_quantity}, append_date = now(), limit_date = #{limit_date}
		where refrigerator_product_id = #{refrigerator_product_id}
	</update>
</mapper>