<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.multi.personalfridge.user.UserMapper">

	<!-- 회원가입  -->
	<insert id="insertUser" parameterType="User">
        INSERT INTO user (user_id, password, user_name, mail, adress, phone)
        VALUES (#{user_id}, #{password}, #{user_name}, #{mail}, #{adress}, #{phone}) 
    </insert>
	
	<!-- 로그인  -->
	<select id="login" 
			parameterType="string" 
			resultType="User">
        SELECT * FROM user
        WHERE user_id = #{user_id} 
    </select>
    
    <!-- 아이디 찾기 -->
	<select id="getUserByEmailAndName" 
			parameterType="string" 
			resultType="User">
        SELECT * FROM user
        WHERE user_name = #{user_name} AND mail = #{mail}
    </select>
    
    <!-- 회원 정보 수정 -->
	<update id="updateUser" parameterType="User">
	    UPDATE user
	    SET 
	    	user_id = #{user_id},
	    	password = #{password},
	        user_name = #{user_name},
	        mail = #{mail},
	        adress = #{adress},
	        phone = #{phone}
	    WHERE user_id = #{user_id} 
	</update>

	<!-- 회원 삭제 -->
	<delete id="deleteUser" parameterType="String">
	    UPDATE user
	    SET delete_plug = true ,delete_user_date = now(),delete_content= #{delete_content} 
	    WHERE user_id = #{user_id} AND password = #{password}
	</delete>
	

	
	<!-- 회원 상세정보 조회 -->
	<select id="getUserById" 
			parameterType="string" 
			resultType="User">
        SELECT * FROM user
        WHERE user_id = #{user_id}
    </select>

	<!-- 모든 회원 조회 -->
	<select id="getAlluser"  resultType="User">
        SELECT * FROM user
        WHERE job_num = 0
    </select>

	<!-- 모든 회원 조회 페이지 -->
	<select id="getAllUserPage"  parameterType="map" resultType="User">
        SELECT * FROM user
        WHERE job_num = 0
        LIMIT #{pageSize} OFFSET #{offset}
    </select>
    
	<!-- 모든 회원 검색 조회-->
	<select id="getAlluserByKeyword" parameterType="map" resultType="User">
        SELECT * FROM user
        WHERE job_num = 0 
        <if test='keyword != ""'>
		AND (
            user_id LIKE CONCAT('%', #{keyword}, '%')
            OR user_name LIKE CONCAT('%', #{keyword}, '%')
            OR mail LIKE CONCAT('%', #{keyword}, '%')
            OR adress LIKE CONCAT('%', #{keyword}, '%')
            OR phone LIKE CONCAT('%', #{keyword}, '%')
        )
        </if>
    </select>
    
	<!-- 모든 회원 검색 조회 페이지 -->
	<select id="getAllUserByKewordPage"  parameterType="map" resultType="User">
        SELECT * FROM user
        WHERE job_num = 0
    	<if test='keyword != ""'>
        AND (
            user_id LIKE CONCAT('%', #{keyword}, '%')
            OR user_name LIKE CONCAT('%', #{keyword}, '%')
            OR mail LIKE CONCAT('%', #{keyword}, '%')
            OR adress LIKE CONCAT('%', #{keyword}, '%')
            OR phone LIKE CONCAT('%', #{keyword}, '%')
        )
    </if>
        LIMIT #{pageSize} OFFSET #{offset}
    </select>
    
    <!-- 회원 삭제 -->
   	<delete id="deleteUserAdmin" parameterType="String">
  		 DELETE FROM user WHERE user_id = #{user_id};
	</delete>
	
	<!-- 사용자 -> 매니저 등록 -->
	<update id="userUpdateToManager" parameterType="String">
	    UPDATE user
	    SET job_num = 1
	    WHERE user_id = #{user_id} 
	</update>




</mapper>